body {
    background: #fff;
 }
 .tuzik{display:flex; font-size:50px;}
 .info{max-width:700px;}
 .ima,.info{margin-left:10%;}
 header {
  background-color: rgba(0, 0, 255, .3);}
  /*Меню */
  header > nav {
  width: 100%;
  border-top: 1px solid black;}
  /* Пункты меню */
  header > nav > a {
  text-decoration: none;
  font-size: 2em;
  color: black;
  margin-left: 3em;}
  /* Посещенные ссылки */
  header > nav > a:visited {
  color: black;}
  
 
 
 
.pouring {
	-webkit-animation: blink 2s linear infinite; 
	animation: blink 2s linear infinite; 
	font-size: 40px;
    line-height: 50px;
    font-family: Verdana, sans-serif;
    font-weight: 900;
    position: relative;
    background: white;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center; 
}

@-webkit-keyframes blink { 
	0% { color: #F00; }
	50% { color: #610000; }
	100% { color: #F00; }
}

@keyframes blink {  
	0% { color: #F00; }
	50% { color: #610000;} 
	100% { color: #F00; } 
}
@keyframes ani {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@media (max-width:690px) {    
    .pouring {font-size: 50px;}    
}
@media screen and (max-width:480px) {
	body {width:100%;}
	header, header nav {width:100%;}
}
